body {
    background-image: linear-gradient(lightyellow, yellow);
}

#map-box {
    background-color: #22b8ff;
    width: 90%;
    margin: 20px auto;
    padding: 20px;
}

nav, footer {
    background-color: #22b8ff;
}

.navbar-brand, footer {
    color: yellow;
}

#search-stuff {
    min-width: 30%;
}

#search-input {

}

#search-btn {

}

.weekly-forecast {
    display: flex;
}

#default-card {
    color: black;
    background-color: #99faff;
    border: #22b8ff solid 5px;
    opacity: 75%;
    padding: 0;
}

.weather-cards {
    margin: 5px;
    color: yellow;
    background-color: #22b8ff;
}

#weather-lists li {
    color: black;
    background-color: #99faff;
    border: solid 5px yellow;
}

footer {
    display: flex;
    justify-content: center;
}

#footer-title {
    border: yellow solid 3px;
    font-size: xx-large;
    width: 20%;
    display: flex;
    justify-content: center;
    margin: 50px 0;
}