body {
    background-image: linear-gradient(lightyellow, yellow);
}

.modal-content {
    background-color: #22b8ff;
    border: yellow solid 3px;
}

.modal-header {
    color: yellow;
}

.modal-body {
    font-style: oblique;
    background-color: #99faff;
    width: 90%;
    margin:  20px auto 0px auto;
    border: yellow solid 1px;
}

.modal-footer {
    border: none;
}

#map-box {
    background-color: #22b8ff;
    width: 90%;
    margin: 20px auto;
    padding: 20px;
}

nav, footer {
    background-color: #22b8ff;
}

.navbar-brand, footer {
    color: yellow;
}

.navbar-brand:hover {
    color: yellow;
}

#search-stuff {
    min-width: 30%;
}

#current-card {
    background-color: #99faff;
    border: #22b8ff solid 3px;
}

.pop-ups {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: yellow;
    background-color: #22b8ff;
}

#weekly-forecast {
    display: flex;
    color: black;
    background-color: #99faff;
    border: #22b8ff solid 5px;
    padding: 0;
}

.weather-cards {
    margin: 5px;
    color: yellow;
    border: yellow solid 1px;
    background-color: #22b8ff;
}

#weather-lists li {
    color: black;
    background-color: #99faff;
    border: solid 5px yellow;
}

footer {
    display: flex;
    justify-content: center;
}

#footer-title {
    border: yellow solid 3px;
    font-size: xx-large;
    width: 20%;
    display: flex;
    justify-content: center;
    margin: 50px 0;
}

.toast-container {
    z-index: 1000;
}